<!DOCTYPE html>

<html lang="en">
<head>
  <title>Bookmark List</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <h1> Bookmark List </h1>
            <ul>
            <% @bookmark_list.each{ |bookmark| %>
                <div class="container">
                    <li><a href="<%= bookmark[0] %>" target="_blank" class="btn btn-outline-dark"><%= bookmark[1] %></a></li>
                </div>
            <% } %>
            </ul>
    </div>
</body>
</html>
